
<div class="container">
<h1>Header</h1>
<div > 
                <div class="row top-m" style="border: solid black 2px; padding: 5px 0 5px 0; border-radius: 15px 50px;background-image: linear-gradient(to right, #72A82B 0%, #A7FA65 100%); box-shadow: 5px 5px 3px grey; color:white; padding: 5px 5px 5px 20px; text-shadow: 2px 2px 0px black;">
                    <div class="col-md-6">
                    <body onload='hideTotal()'>
    <div id="wrap">
        <form action="" id="calcform" onsubmit="return false;">
        <div>
            <div class="cont_order">
               <fieldset>
                <legend>CALCULATE YOUR REFUNDS!!</legend>
                <label >Material</label><br>
                <label class='radiolabel'><input type="radio"  name="selectedmat" value="Papers" onclick="calculateTotal()" />Paper</label><br/>
                <label class='radiolabel'><input type="radio"  name="selectedmat" value="Plastics" onclick="calculateTotal()" />Plastic</label><br/>
                <label class='radiolabel'><input type="radio"  name="selectedmat" value="Metals" onclick="calculateTotal()" />Metals</label><br/>
                <br/>
                <label >Weight</label>
         
                <select id="filling" name='filling' onchange="calculateTotal()">
                <option value="none">0 lbs</option>
                <option value="one">1 lbs</option>
                <option value="two">2 lbs</option>
                <option value="three">3 lbs</option>
                <option value="four">4 lbs</option>
                <option value="five">5 lbs</option>
                <option value="six">6 lbs</option>
                <option value="seven">7 lbs</option>
                <option value="eight">8 lbs</option>
                <option value="nine">9 lbs</option>
                <option value="ten">10 lbs</option>
               </select>
                <br/>
               
                
                <div id="totalPrice"></div>
                
                </fieldset>
            </div>
            
        	
            <input type='submit' id='submit' value='Submit' onclick="calculateTotal()" />
        </div>  
       </form>
	</div><!--End of wrap-->

</body>

                    
                        
                    </div>
           
                </div>

</div>

